<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add New Customer</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/customers" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Northwind</span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="/customers/add" class="nav-link px-2 link-secondary">Add New</a>
          </li>
          <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <h3 style="text-align: center; color: magenta; margin-bottom: 20px;">Add New Customer</h3>

    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
          <form action="/customers" method="post">
            <table class="table table-bordered table-hover p-4">
              <!-- <tr>
                  <td><label for="id">CustomerID</label></td>
                  <td><input type="number" id="id" /></td>
                </tr> -->
              <tr>
                <td><label for="name">CustomerName</label></td>
                <td><input type="text" id="name" name="CustomerName" /></td>
              </tr>
              <tr>
                <td><label for="ctname">ContactName</label></td>
                <td><input type="text" id="ctname" name="ContactName" /></td>
              </tr>
              <tr>
                <td><label for="addr">Address</label></td>
                <td><input type="text" id="addr" name="Address" /></td>
              </tr>
              <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" id="city" name="City" /></td>
              </tr>
              <tr>
                <td><label for="pcode">PostalCode</label></td>
                <td><input type="number" id="pcode" name="PostalCode" /></td>
              </tr>
              <tr>
                <td><label for="country">Country</label></td>
                <td><input type="text" id="country" name="Country" /></td>
              </tr>
              <tr style="text-align: center">
                <td colspan="2">
                  <button type="submit" class="btn btn-outline-primary my-2">
                    Add New Customer
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </main>
  
</body>

</html>